<form id="logout-form" action="/logout" method="POST">
    <button class="logout-button">Logout</button>
</form>

<div class="drinks-container">

  <h2>Drinks</h2>
  <p id="drinkscount">Total Drinks Logged: {{drinks.length}}</p>

    <a class="add-another-button" href="/alcohol/create">Add Another</a>

  {{#each drinks}}
  <hr>
    <h3 class="drinks">{{name}}</h3>
    <p>Rating: {{rating}}/10</p>
    <p>Alcohol %: {{percentage}}</p>
    <div class="drinks-list">
      <a href="/alcohol/{{_id}}">See details</a>

      <div class="edit-delete">
        
        <a href="/alcohol/{{_id}}/edit" id="edit">Edit</a>
      <form action="/alcohol/{{_id}}/delete" method="POST" id="annoying-form">
        <button id="delete">Delete</button>
      </form>

      </div>
      <hr>
    </div>
  {{/each}}


  <a href="/user-profile">Back</a>

</div>  