<h1>Drinks</h1>

<li class="to-right">
               <a href="/user-profile">Back to Profile</a> <span> | </span>
               <form id="logout-form" action="/logout" method="POST">
                  <button>Logout</button> <span> | </span>
               </form>
            </li>

            <button id="another"><a href="/alcohol/create" id="another-button">Add Another</a> </button>
            <ul></ul>

{{#each drinks}}
    <h3 id='drinks'>{{name}}</h3>
    <p>{{rating}}/10</p> 
   <div id="drinks-list">
    <a href="/alcohol/{{_id}}">See details</a> 
    <a href="/alcohol/{{_id}}/edit" id="detail-edit-gap">Edit</a> 
    {{!-- <a href="/alcohol/{{_id}}/delete" id="btnDelete" method="POST">Delete</a> --}}

    {{!-- add the form to handle the POST request to remove a specific drink  --}}
  <form action="/alcohol/{{_id}}/delete" method="POST" id="annoying-form"> 
      <button id="delete">Delete</button>
    </form>
  </div>
{{/each}}

