<div class="editDrink">

  <h2 class="text-xl">Edit the drink: <span style="font-weight: bold;">{{alcohol.name}}</span></h2>
  <form action="/alcohol/{{alcohol._id}}/edit" method="post" class="loginLogout mt-10">
    <label> Name:
      <input type="text" name="name" value="{{alcohol.name}}" class="block text-sm font-medium text-gray-700" />
    </label>
    <label> Description:
      <textarea name="description" cols="30" rows="4" class="block text-sm font-medium text-gray-700" id="editDescription">{{alcohol.description}}</textarea>
    </label>
    <label> Rating:
      <input type="number" name="rating" min="1" max="10" value="{{alcohol.rating}}" class="block text-sm font-medium text-gray-700" />/10
    </label>
    <label> Percentage:
      <input type="number" name="percentage" value="{{alcohol.percentage}}" class="block text-sm font-medium text-gray-700" />
    </label>
    <button class="text-blue-500 font-semibold underline mt-2">Save changes</button>
  </form>
  
</div>
